*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/********************************************************
* DEBUG *
*********************************************************/
.debug .navmenu{
    height: 100px;
    background: aqua;
}
.debug .hero{
    height: 100%;
    background: cadetblue;
}
.debug h1{
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}
.debug h2{
    height: 70px;
    background: rgba(30, 34, 54, 0.5);
}
.debug .freetry_content{
    height:300px;
    background: chocolate;
}
.debug .hero_img{
    height: 530px;
    background: darkcyan;

}
.debug .billing{
    height:50px;
    background:darkgray;
}
.debug .card{
    height: 500px;
    background:coral;
}
.debug .plans .card{
    height:900px;
    background:darkkhaki;
}
.debug .card_pro{
    height:300px;
    background:rgb(245, 232, 48);
}
.debug .partner>img{
    height: 500px;
    background:darkturquoise;
}
.debug .partner>div{
    height: 500px;
    background: chocolate;
}
/********************************************************
* UTILITY *
*********************************************************/
.container_80{
    width: 80%;
    margin: auto;
}
.container_70{
    width: 70%;
    margin: auto;
}
.m_topbot{
    margin: 5% 0;
}
.card{
    float:left;
    width: 30%;
}
/********************************************************
* COMMON *
*********************************************************/



/********************************************************
* HEADER *
*********************************************************/
/* navbar */

/* hero section  */
.hero{
    /* background-size: 100% 50%;
    background-color: darkslategray; */ /* finding a way to shrink (only) the background */
}
.hero > .container_80{
    padding: 3rem 0;
}
.freetry_content{
    float:left;
    width: 20%;
}
.hero_img{
    float:left;
    width:80%;
}

/********************************************************
* MAIN *
*********************************************************/
.plans{
    margin: 10% 0;
}
/* billing plans section (1) */
.card:nth-child(2){
    margin: auto 5%;
}

/* partner section (2) */
.partner > img{
    float:left;
    width:50%;
    margin-right: 5%;
}
.partner > div{
    float:left;
    width:45%;
}

/* features section (3) */

/* teams section (2) */
