*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/********************************************************
* DEBUG *
*********************************************************/
.debug .navmenu{
    height: 100px;
    background: aqua;
}
.debug .hero_section{
    height: 600px;
    background: cadetblue;
}
.debug h1{
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}
.debug h2{
    height: 70px;
    background: rgba(30, 34, 54, 0.5);
}
.debug .freetry_content{
    height:300px;
    background: chocolate;
}
.debug .hero_img{
    height: 530px;
    background: darkcyan;

}
.debug .billing{
    height:50px;
    background:darkgray;
}
.debug .card{
    height:900px;
    background:darkkhaki;
}
.debug .card_pro{
    height:300px;
    background:rgb(245, 232, 48);
}
/********************************************************
* UTILITY *
*********************************************************/
.container_80{
    width: 80%;
    margin: auto;
}
.container_70{
    width: 70%;
    margin: auto;
}

/********************************************************
* COMMON *
*********************************************************/
div{
    margin: 5% 0;
}


/********************************************************
* HEADER *
*********************************************************/
/* navbar */

/* hero section  */
.hero_section > .container_80{
    padding: 3rem 0;
}
.freetry_content{
    float:left;
    width: 20%;
}
.hero_img{
    float:left;
    width:80%;
}

/********************************************************
* MAIN *
*********************************************************/
.card{
    float:left;
    width: 30%;
    margin: 2% 0;
}
.card:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}