*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/********************************************************
* DEBUG *
*********************************************************/
.debug .navmenu{
    height: 100px;
    background-color: aqua;
}
.debug .hero_section{
    height: 600px;
    background-color: cadetblue;
}
.debug h1{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.267);
}
/* .container_80{
    background-color: rgb(153, 136, 92);
} */
.debug .freetry_content{
    height:300px;
    background-color: chocolate;
}
.debug .hero_img{
    height: 530px;
    background-color: darkcyan;

}

/********************************************************
* UTILITY *
*********************************************************/
.container_80{
    width: 80%;
    margin: auto;
}

/********************************************************
* HEADER *
*********************************************************/
/* navbar */

/* hero section  */
.hero_section > .container_80{
    padding: 3rem 0;
}
.freetry_content{
    float:left;
    width: 20%;
}
.hero_img{
    float:left;
    width:80%;
}
